<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All launches for company</title>
</head>
<body>
<h1 th:text="${company_name}"></h1>
<table>
    <tr>
        <th>Company</th>
        <th>Date</th>
        <th>Rocket</th>
        <th>Success</th>
    </tr>
    <tr th:each="launch: ${launches_by_company}">

        <td th:text="${launch.date}">Date</td>

        <td th:text="${launch.rocket}">Rocket</td>

        <td th:text="${launch.successAsString}">Success</td>
    </tr>
</table>
</body>
</html>