<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Launch</title>
</head>
<body>
<h1>Add new launch</h1>
<form method="post" action="/new" th:object="${new_launch}">
    <div th:if="${#fields.hasErrors('*')}">
        <h1>Errors</h1>
        <ul>
            <li th:each="err : ${#fields.errors('*')}"
                th:text="${err}">Error</li>
        </ul>
    </div>
    <div>
        <label th:for="Company">Company: </label>
        <select th:field="*{company}">
            <option th:each="company: ${all_companies}"
                    th:value="${company}"
                    th:text="${company}"></option>
        </select>
    </div>

    <div>
        <label th:for="date">Date: </label>
        <input id="date" type="date" th:field="*{date}"/>
        <span th:if="${#fields.hasErrors('date')}"
              th:errors="*{date}" style="color: red"></span>
    </div>

    <div>
        <label th:for="rocket">Rocket: </label>
        <input id="rocket" type="text" th:field="*{rocket}"/>
        <span th:if="${#fields.hasErrors('rocket')}"
              th:errors="*{rocket}" style="color: red"></span>
    </div>

    <div>
        <label>Success: </label>
        <input type="checkbox"
               th:field="*{success}"
               th:value="true"/>
    </div>
    <input type="submit">
</form>
</body>
</html>