<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Overview</title>
</head>
<body>
<h1>Launches:</h1>
<a th:href="@{/new}" th:text="New"></a>
<table>
    <tr>
        <th>Company</th>
        <th>Date</th>
        <th>Rocket</th>
        <th>Success</th>
    </tr>
    <tr th:each="launch: ${all_launches}">

        <td>
            <a th:text="${launch.company}"
               th:href="@{/companies/{name} (name=${launch.company})}">Company</a>
        </td>

        <td th:text="${launch.date}">Date</td>

        <td th:text="${launch.rocket}">Rocket</td>

        <td th:text="${launch.successAsString}">Success</td>
    </tr>
</table>

</body>
</html>