<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New City</title>
</head>
<body>
<form method="post"
      th:action="@{/overview/new}"
      th:object="${new_city}">
    <div>
        <label th:for="country">Country: </label>
        <select th:field="*{country}">
            <option th:each="country: ${all_countries}"
                    th:value="${country.getCode}"
                    th:text="${country.getName}"></option>
        </select>
    </div>
    <div>
        <label th:for="name">Name: </label>
        <input type="text" th:field="*{getName}"/>
        <span th:if="${#fields.hasErrors('cityName')}"
              th:errors="*{getName}"></span>
    </div>
    <div>
        <label th:for="population">Population: </label>
        <input type="number" th:field="*{population}"/>
        <span th:if="${#fields.hasErrors('population')}"
              th:errors="*{population}"></span>
    </div>
    <input type="submit">
</form>
</body>
</html>