<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Overview</title>
</head>
<body>
<table>
    <tr>
        <th>Country_ID</th>
        <th>Countryname</th>
    </tr>
    <tr th:each="country: ${all_countries}">
        <td th:text="${country.getCode}">Id</td>
        <td th:text="${country.getName}">Id</td>
        <td>
            <form method="get" th:action="@{/overview}">
                <input type="hidden" name="selected_country" th:value="${country.getCode}">
                <input type="submit" value="Show cities">
            </form>
        </td>
    </tr>
</table>

<table th:if="${all_cities != null}">
    <tr>
        <th>City</th>
        <th>Population</th>
    </tr>
    <tr th:each="city: ${all_cities}">
        <td th:text="${city.cityName}">Id</td>
        <td th:text="${city.population}">Id</td>
    </tr>
</table>
<a th:href="@{/overview/new}">Add city</a>
</body>
</html>